DATABASE_URL=sqlite:///./asklytics.db
FERNET_KEY=
SECRET_KEY=asklytics_super_secret_dev_key
GEMINI_API_KEY=
FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGINS=https://master.d180ha7an42ujc.amplifyapp.com,http://localhost:5173
